NODE_ENV=
MONGO_URL=
JWT_SECRET=
PORT=

APP_NAME=
APP_ENV=
APP_TIMEZONE=
APP_LANGUAGE=

HTTP_HOST=
HTTP_PORT=

URL_VERSIONING_ENABLE=
URL_VERSION=

DATABASE_URL=
DATABASE_DEBUG=

MIDDLEWARE_CORS_ORIGIN=

JWT_PREFIX=
JWT_AUDIENCE=
JWT_ISSUER=
JWT_JWKS_URI=
JWT_ALGORITHM=

JWT_ACCESS_TOKEN_KID=
JWT_ACCESS_TOKEN_PRIVATE_KEY_PATH=/apps/keys/access-token-private.pem
JWT_ACCESS_TOKEN_PUBLIC_KEY_PATH=/apps/keys/access-token-public.pem
JWT_ACCESS_TOKEN_EXPIRATION_TIME=

JWT_REFRESH_TOKEN_KID=
JWT_REFRESH_TOKEN_PRIVATE_KEY_PATH=/apps/keys/refresh-token-private.pem
JWT_REFRESH_TOKEN_PUBLIC_KEY_PATH=/apps/keys/refresh-token-public.pem
JWT_REFRESH_TOKEN_EXPIRATION_TIME=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_USERNAME=

EMAIL_SMTP_HOST=
EMAIL_SMTP_PORT=
EMAIL_SMTP_SECURE=
EMAIL_SMTP_USERNAME=
EMAIL_SMTP_PASSWORD=
EMAIL_FROM=
EMAIL_SUPPORT=

RESEND_API_KEY=

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
